/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Base resource configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    // Enforce hard resource ceilings (overridable in profiles)
    resourceLimits = [
        cpus: 8,
        memory: 14.GB,
        time: 240.h
    ]
    cpus = 1
    memory = 4.GB
    time = 4.h
    errorStrategy = {
        task.exitStatus in [143, 137, 104, 134, 139] ? "retry" : "finish"
    }
    maxRetries = 1
    maxErrors = "-1"
    withLabel: process_single {
        cpus = 1
        memory = 4.GB
        time = 4.h
    }
    withLabel: process_low {
        cpus = 2
        memory = {
            8.GB * task.attempt
        }
        time = {
            4.h * task.attempt
        }
    }
    withLabel: process_medium {
        cpus = 4
        memory = {
            8.GB * task.attempt
        }
        time = {
            8.h * task.attempt
        }
    }
    withLabel: process_high {
        cpus = 8
        memory = {
            16.GB * task.attempt
        }
        time = {
            16.h * task.attempt
        }
    }
    withLabel: process_long {
        time = {
            20.h * task.attempt
        }
    }
    withLabel: error_ignore {
        errorStrategy = "ignore"
    }
    withLabel: error_retry {
        errorStrategy = "retry"
        maxRetries = 2
    }
}
