/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Module-specific configuration: ext.args, publishDir, containerOptions
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: "REANNOT_SP" {
        publishDir = [
            path: {
                "${params.outdir}/${meta.id}/detected_signature_proteins"
            },
            mode: params.publish_dir_mode,
            saveAs: {
                filename -> filename == "versions.yml" ? null : filename
            }
        ]
    }
    withName: "DETECT_ME" {
        publishDir = [
            path: {
                "${params.outdir}/${meta.id}/detected_mobile_elements"
            },
            mode: params.publish_dir_mode,
            saveAs: {
                filename -> filename == "versions.yml" ? null : filename
            }
        ]
    }
    withName: "CREATE_ANNOTATIONS" {
        publishDir = [
            path: {
                "${params.outdir}/${meta.id}/detected_mobile_elements/standard_genome_annotation_formats"
            },
            mode: params.publish_dir_mode,
            saveAs: {
                filename -> filename == "versions.yml" ? null : filename
            }
        ]
    }
    withName: "PACKAGE_RESULTS" {
        publishDir = [
            path: {
                "${params.outdir}/${meta.id}"
            },
            mode: params.publish_dir_mode,
            saveAs: {
                filename -> filename == "versions.yml" ? null : filename
            }
        ]
    }
}
